# PyCharm
.idea/

# macOS
.DS_Store

# Data, models, results (too large) -- keep folder structure only
#data/*
#!data/.gitkeep
model/*
!model/.gitkeep
results/*
!results/.gitkeep
# Python cache
__pycache__/
*.pyc

# Checkpoints
#*.pth
*.pkl